{{define "content" -}}
  <?xml version="1.0"?>
  <package version="2.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="{{.Id}}">
    <metadata>
      <dc:title>{{.Title}}</dc:title>
      <dc:creator opf:role="aut">{{ .Author }}</dc:creator>
      <dc:language>{{.From}}</dc:language>
      <x-metadata>
        <DictionaryInLanguage>{{.From}}</DictionaryInLanguage>
        <DictionaryOutLanguage>{{.To}}</DictionaryOutLanguage>
        <DefaultLookupIndex>Croatian</DefaultLookupIndex>
      </x-metadata>
    </metadata>
    <manifest>
      {{range .Pages}}
        <item id="{{.Id}}" href="{{.Id}}.html" media-type="application/xhtml+xml"/>
      {{end}}
    </manifest>
    <spine>
      {{range .Pages}}
        <itemref idref="{{.Id}}"/>
      {{end}}
    </spine>
  </package>
{{end}}