{{define "entry" -}}
    <idx:entry scriptable="yes">
            <idx:orth value="{{.Title}}">{{- if .Inflexions }}<idx:infl>{{- range .Inflexions}}<idx:iform value="{{.}}" exact="yes"/>{{- end}}</idx:infl>{{- end}}</idx:orth>
            <b>{{.Title}}</b>
            {{if .Grammar}}
                <idx:gramgrp>
                    <i>{{.Grammar}}</i>&nbsp;
                </idx:gramgrp>
            {{end }}
            <ol>
                {{if .Meaning1}}
                    <li>{{.Meaning1}}
                        {{ if .Example1}} Ex. {{.Example1}}{{end}}
                    </li>
                {{end}}
                {{if .Meaning2}}
                    <li>{{.Meaning2}}
                        {{ if .Example2}} Ex. {{.Example2}}{{end}}
                    </li>
                {{end}}
                {{if .Meaning3}}
                    <li>{{.Meaning3}}
                        {{ if .Example3}} Ex. {{.Example3}}{{end}}
                    </li>
                {{end}}
                {{ if .Meaning4}}<li>{{.Meaning4}}</li>{{end}}
            </ol>
            {{ if .Note1}} * {{.Note1}} {{end}}
            {{ if .Note2}} * {{.Note2}} {{end}}
            {{ if .Declensions}} Decl: {{.Declensions}}{{end}}
    </idx:entry>
    <hr/>
{{end}}